:root {
  --mono: 'MONO' 0;
  --casl: 'CASL' 0;
  --wght: 'wght' 400;
  --slnt: 'slnt' 0;
  --ital: 'ital' 0.5;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Recursive';
  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
    var(--ital);
  background-color: color(cloud);
  color: color(night);
  font-size: 20px;
  line-height: 1.5;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

  &.dark-mode {
    color: color(cloud);
    background-color: color(night);
  }
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:not([class]) {
  color: darken(color('tonic'), 5);
}

a:not([class]),
a.underlined {
  display: inline-block;
  position: relative;

  overflow: hidden;
  vertical-align: bottom;
  transition: color 0.1s ease-in-out;

  &:after {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 0.05em;
    background-color: currentColor;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
  }

  &:hover,
  &:focus {
    &:after {
      transform: translateX(0);
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid color(tonic);
  width: 85%;
  margin: 1em auto;

  .dark-mode & {
    border-color: color(night);
  }
}

a.no-border {
  border: 0;

  &:hover {
    border: 0;
  }
}

label {
  font-size: 0.75em;
}

strong {
  --wght: 'wght' 600;
  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
    var(--ital);
}
