html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  background-color: $color-sky-light;
  color: $color-inky-light;
  font-size: 20px;
  line-height: 1.5;

  &.dark-mode {
    color: $color-sky-lighter;
    background-color: $color-inky-light;
  }
}

strong {
  font-weight: 700;
}

a {
  color: $color-inky;
  text-decoration: none;
  color: $color-brand-dark;
  border-bottom: 2px solid $color-brand-dim;
  transition: border-color 0.2s ease-in-out;

  .dark-mode & {
    color: $color-brand;

    &:hover {
      border-bottom-color: $color-brand;
    }
  }

  &:hover {
    border-bottom: 2px solid $color-brand-dark;
  }
}

hr {
  border: 0;
  border-top: 1px solid $color-sky-dark;

  .dark-mode & {
    border-color: $color-inky-light;
  }
}

a.no-border {
  border: 0;

  &:hover {
    border: 0;
  }
}

label {
  font-size: 0.75em;
}
