@import '../../styles/ats/tools';
@import '../../styles/ats/settings';

.Newsletter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: $spacing-lg;
  background: color('lilac');
  color: color('trendy', $for-background: color('lilac'));
  text-align: left;
  border-radius: 4px;

  @media screen and (max-width: $breakpoint-sm) {
    width: 100%;
    margin: 0;
    order: -1;
  }

  .BlogPost & {
    margin: 0 -1 * $spacing-lg;
  }
}
