@import '../../styles/ats/tools';
@import '../../styles/ats/settings';

.Newsletter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: $spacing-lg;
  background: $color-sky-dark;
  color: $color-inky;
  text-align: left;
  border-radius: 4px;

  @media screen and (max-width: $breakpoint-sm) {
    width: 100%;
    margin: 0;
    order: -1;
  }
}
