@each $color, $hex in $colors {
  .c-#{$color} {
    color: $hex;
  }

  .c-dark-#{$color} {
    color: darken($hex, 40);
  }

  .bg-#{$color} {
    background-color: $hex;
  }

  .fill-#{$color} {
    fill: $hex;
  }

  .stroke-#{$color} {
    stroke: $hex;
  }

  .dm-fill-#{$color} {
    .dark-mode & {
      fill: $hex;
    }
  }

  .dm-stroke-#{$color} {
    .dark-mode & {
      stroke: $hex;
    }
  }
}
