@import '../../styles/ats/tools';
@import '../../styles/ats/settings';

.Aside {
  font-style: italic;
  font-size: 0.75em;
  float: right;
  padding: 0 8px;
  margin-left: 8px;
  width: 40%;
  color: color(night);
  border-left: 1px solid color(night);

  .dark-mode & {
    color: $color-sky-darker;
    border-left: 1px solid $color-sky-darker;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}
