@import '../styles/ats/tools';
@import '../styles/ats/settings';

.BlogRoll {
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;
}

.BlogHeader {
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;
  padding-bottom: $spacing-md;
}

.CoverImage {
  width: 100%;
  overflow: hidden;
  max-height: 400px;
  border-radius: 4px;
  transform: rotate(0);
  transition: 0.3s;
  margin-bottom: $spacing-md;

  img {
    width: 100%;
    filter: sepia(1);
    transform: translateY(-100px);
    transition: filter 0.3s;

    &:hover {
      filter: sepia(0);
    }
  }
}

.PostMeta {
  display: block;
  margin: 0;
  margin-top: $spacing-md;
  font-style: italic;
  font-weight: 500;
  font-size: typescale(3);
  color: color(night);

  .dark-mode & {
    color: color(cloud);
  }
}

.BlogPagination {
  display: flex;
  list-style: none;
  padding: $spacing-md 0;
  margin: 0;
  li {
    width: 50%;
  }
}

.Post {
  display: block;
  color: color(night);
  border-bottom: 3px solid color(night);
  background: color(cloud);
  margin-bottom: $spacing-lg;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(color(night), 0.16);
  text-decoration: none;

  .dark-mode & {
    background: color(night);
    color: color(cloud);
    border-bottom: 3px solid color(stone);

    &:hover,
    &:focus {
      border-bottom: 3px solid color(deep);
    }
  }

  &:hover,
  &:focus {
    border-bottom: 3px solid color(tonic);
  }

  .Post-cover {
    width: 100%;
  }

  .Post-content {
    padding: $spacing-sm $spacing-lg;
  }
}

.BlogPost {
  h1 {
    font-size: typescale(9);
  }
  h2 {
    font-size: typescale(8);
  }
  h3 {
    font-size: typescale(7);
  }
  h4 {
    font-size: typescale(6);
  }
  h5 {
    font-size: typescale(5);
  }
  h6 {
    font-size: typescale(4);
  }

  p {
    line-height: 1.25;
    margin-bottom: $spacing-md;
    max-width: 50em;
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid color(tonic);
    margin: 0;
    padding: $spacing-sm;
    margin-bottom: $spacing-md;
  }

  code {
    display: inline-block;
    padding: 0 $spacing-md;
    white-space: pre-wrap;
  }

  figure {
    max-width: 50vw;
    width: 100%;
    text-align: center;
    background: lighten(color(stone), 5);
    margin: $spacing-sm auto;
    padding: $spacing-md;
    border-radius: 2px;

    .dark-mode & {
      background: lighten(color(night), 5);
    }

    @media screen and (max-width: $breakpoint-sm) {
      max-width: 98%;
    }
  }

  figure img {
    max-width: 100%;
  }

  figure p {
    text-align: center;
    margin: 0;
    margin-bottom: $spacing-md;
  }

  figcaption {
    font-style: italic;
    padding: 0;
    margin: 0;
  }
}
