@import '../styles/ats/tools';
@import '../styles/ats/settings';

.Callout {
  padding: $spacing-md;
  border-radius: 4px;
  border-bottom: 0;

  * {
    color: currentColor;
  }

  &:hover {
    border-bottom: 0;
  }
}
