@import '../styles/ats/tools';
@import '../styles/ats/settings';

.CalloutContainer {
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;
  margin-bottom: $spacing-md;
  display: flex;
  perspective: 1000px;

  .Callout {
    margin-right: $spacing-md;
    width: 50%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    flex-direction: column;
    padding: $spacing-sm;

    .Callout {
      width: 100%;
      flex: 0 0 100%;
      margin: 0;
      margin-bottom: $spacing-md;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
