@import '../styles/ats/tools';
@import '../styles/ats/settings';

.Callout {
  padding: $spacing-md;
  border-radius: 4px;
  color: currentColor;
  border-bottom: 0 !important;

  * {
    color: currentColor !important;
  }

  &:hover {
    border-bottom: 0;
  }
}

.Callout--lilac {
  background-color: color('lilac');
  color: color('lilac', 'text') !important;
}

.Callout--trendy {
  background-color: color('trendy');
  color: color('trendy', 'text') !important;
}
