@import '../styles/ats/tools';
@import '../styles/ats/settings';

.Footer {
  padding: $spacing-md;
  width: 100%;
  margin: 0 auto;
  color: $color-sky;
  background: $color-inky;
  margin-top: $spacing-xl;

  .Footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: $main-width;
    margin: 0 auto;
  }

  .Footer-right {
    width: 75%;
  }

  .Footer-signature {
    height: 100px;
  }

  .Footer-copyright {
    font-size: 0.75em;
  }
}
