@import "../styles/ats/tools";
@import "../styles/ats/settings";

.Header {
  max-width: $main-width;
  margin: 0 auto;
  margin-top: -1 * $spacing-lg;
  border-bottom: 1px solid $color-inky-lighter;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;

  .Header-content {
    padding: $spacing-lg;
    p {
      margin-bottom: 0;
    }
  }

  .Header-logoLink {
    border: 0;
    padding-top: $spacing-lg;
    border-right: 1px solid $color-inky-lighter;

    .dark-mode &:hover {
      border: 0;
    }
  }

  .Header-logo {
    width: 200px;
    fill: $color-inky;
    padding: $spacing-lg;

    &:hover {
      .logo-fill {
        fill: url(#logo-gradient);
      }
    }

    .dark-mode & {
      fill: $color-sky;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 50px;
    }
  }
}
