@import '../styles/ats/tools';
@import '../styles/ats/settings';

.Header {
  width: 100%;
  // background: linear-gradient(color('cornflower'), color('lilac'));
  background-color: $color-inky;
  color: $color-sky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: $spacing-md;
  padding-bottom: $spacing-lg;
  margin-bottom: -1 * $spacing-md;

  .Header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $main-width;
    font-size: typescale(5);
    padding-bottom: $spacing-md;

    @media screen and (max-width: $breakpoint-sm) {
      text-align: center;
    }

    p {
      margin-bottom: 0;
    }
  }

  .Header-nav {
    a {
      color: $color-sky;
      border-bottom: 0;
      padding: $spacing-sm $spacing-md;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      border-radius: 2px;

      &:hover {
        background-color: $color-inky-light;
      }
    }
  }

  .Header-logoLink {
    border: 0;
    padding-top: $spacing-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;

    @media screen and (max-width: $breakpoint-md) {
      border: none;
    }

    .dark-mode &:hover {
      border: 0;
    }
  }

  .Header-callout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $main-width;
    color: $color-inky;
    padding: $spacing-md;
    border-radius: 4px;
    background-color: color('sunflower');
    color: darken(color('sunflower'), 55);
    position: relative;
    overflow: hidden;
    padding-right: 175px;

    a {
      color: darken(color('sunflower'), 55);
      border-bottom-color: darken(color('sunflower'), 55);
    }

    img {
      position: absolute;
      height: 150px;
      width: 150px;
      right: -10px;
    }
  }

  .Header-logo {
    max-width: 200px;
    width: 100%;
    fill: $color-sky-dark;
    padding: $spacing-lg;

    &:hover {
      .logo-fill {
        fill: url(#logo-gradient);
      }
    }

    .dark-mode & {
      fill: $color-sky;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 100px;
      padding: 0;
    }
  }
}
