@import '../styles/ats/tools';
@import '../styles/ats/settings';

@keyframes Gradient {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 300%;
  }
}

.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-sm;
  padding-top: $spacing-md;
  padding-bottom: $spacing-lg;
  margin-bottom: -1 * $spacing-md;

  .Header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $main-width;
    font-size: typescale(5);
    padding-bottom: $spacing-md;

    @media screen and (max-width: $breakpoint-sm) {
      text-align: center;
    }

    p {
      margin-bottom: 0;
    }
  }

  .Header-nav {
    a {
      color: $color-inky;
      border-bottom: 0;
      padding: $spacing-sm $spacing-md;
      border-radius: 2px;
      text-decoration: none;

      .dark-mode & {
        color: $color-sky;
        &:hover {
          color: $color-inky;
        }
      }

      &:hover {
        animation: Gradient 1s linear infinite;
        background: linear-gradient(
          45deg,
          #ff9aa2,
          #ffb7b2,
          #ffdac1,
          #e2f0cb,
          #b5ead7,
          #c7ceea,
          #eab2f3,
          #ff9aa2,
          #ffb7b2,
          #ffdac1,
          #e2f0cb,
          #b5ead7,
          #c7ceea
        );
        background-size: 100% 300%;
      }
    }
  }

  .Header-logoLink {
    border: 0;
    padding-top: $spacing-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;

    @media screen and (max-width: $breakpoint-md) {
      border: none;
    }

    .dark-mode & {
      &:hover {
        border: 0;
      }
    }
  }

  .Header-callout {
    width: 100%;
    max-width: $main-width;
    color: $color-inky;
    padding: $spacing-md;
    border-radius: 4px;
    background-color: color('sunflower');
    color: color('sunflower', 'text');
    position: relative;
    overflow: hidden;
    padding-right: 175px;

    h2 {
      margin: 0;
    }

    a {
      color: darken(color('sunflower'), 55);
      border-bottom-color: color('sunflower', 'text');
    }

    img {
      position: absolute;
      height: 150px;
      width: 150px;
      right: -10px;
    }
  }

  .Header-logo {
    max-width: 200px;
    width: 100%;
    padding: $spacing-lg;

    &:hover {
      .logo-fill {
        fill: url(#logo-gradient);
      }
    }

    .dark-mode & {
      fill: $color-sky;
    }

    @media screen and (max-width: $breakpoint-sm) {
      width: 100px;
      padding: 0;
    }
  }
}
