@import "../styles/main";

.Container {
  padding: 0 $spacing-md;

  &:before {
    height: 5px;
    background: $color-brand;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding-top: $spacing-md;
  }
}

.BlogPagination {
  display: flex;
  list-style: none;
  padding: $spacing-md 0;
  margin: 0;
  li {
    width: 50%;
  }
}
