@import "../styles/ats/tools";
@import "../styles/ats/settings";

.Social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  margin-top: $spacing-lg;
  // margin: 0 auto;
}
