$colors: (
  'sand': #e2d4b7,
  'cream': #f2e9de,
  'deep': #3a606e,
  'forest': #607b7d,
  'strawberry': #da667b,
  'tonic': #70a9a1,
  'night': #0e161a,
  'stone': #424154,
  'rain': #d1d5d6,
  'cloud': #efefef,
  'sunflower': #ffdac1,
);

$color-sky-lighter: #ffffff;
$color-sky-light: #f8f9fb;
$color-sky: #eff0f6;
$color-sky-dark: #e2e4ee;
$color-sky-darker: #c1c3cc;
