@import './colors';

$main-font: 'Public Sans';

/* SPACING */
$unit: 2;
$spacing-xs: pow($unit, 2) * 1px; // 4px
$spacing-sm: pow($unit, 3) * 1px; // 8px
$spacing-md: pow($unit, 4) * 1px; // 16px
$spacing-lg: pow($unit, 5) * 1px; // 32px
$spacing-xl: pow($unit, 6) * 1px; // 64px

/* SHADOWS */
$shadow-main: 1px 4px 10px rgba($color-inky, 0.25);

/* BREAKPOINTS */
$breakpoint-md: 768px;
$breakpoint-sm: 468px;

/* SIZES */
$main-width: 960px;
