$main-font: 'Public Sans';

/* COLORS */
$color-brand-dark: darken(#5c95ff, 0.5);
$color-brand: #5c95ff;
$color-brand-dim: rgba(#5c95ff, 0.5);

$color-inky-lighter: #7d8b98;
$color-inky-light: #2a2d46;
$color-inky: #1d1f30;
$color-inky-dark: #191b2a;

$color-sky-lighter: #ffffff;
$color-sky-light: #f8f9fb;
$color-sky: #eff0f6;
$color-sky-dark: #e2e4ee;
$color-sky-darkest: darken(#e2e4ee, 0.5);

/* SPACING */
$unit: 2;
$spacing-xs: pow($unit, 2) * 1px; // 4px
$spacing-sm: pow($unit, 3) * 1px; // 8px
$spacing-md: pow($unit, 4) * 1px; // 16px
$spacing-lg: pow($unit, 5) * 1px; // 32px
$spacing-xl: pow($unit, 6) * 1px; // 64px

/* SHADOWS */
$shadow-main: 1px 4px 10px rgba($color-inky, 0.25);

/* BREAKPOINTS */
$breakpoint-md: 768px;
$breakpoint-sm: 468px;

/* SIZES */
$main-width: 768px;
